<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ExcelTemplateDownloadLink" value="https://github.com/WeihanLi/DbTool/raw/wpf-dev/template.xlsx" />
    <add key="DefaultConnString" value="Server=10.18.210.112;database=pms;uid=root;pwd=Init.123;" />
    <!--SqlServer-->
    <add key="DbType" value="MySql" />
    <!--MySql-->
    <!--<add key="DbType" value="MySql" />-->
    <add key="GeneratePrivateField" value="false" />
    <add key="GenerateDataAnnotation" value="true" />
    <add key="GenerateDbDescription" value="true" />
    <add key="ApplyNameConverter" value="true" />

    <add key="DefaultCulture" value="en" />
    <add key="SupportedCultures" value="zh,en" />
  </appSettings>
</configuration>